* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
    color: #fff;
    min-height: 100vh;
}


.container {
    padding: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

/* Grid Layout (Desktop) */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(756px, 1fr));
    gap: 10px;
}

.camera-card {
    background: #2d2d2d;
    border-radius: 4px;
    overflow: hidden;
}
.camera-card span {
    font-size: 12px;
    color: #aaa;
}
.camera-stream {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    background: #000;
    cursor: pointer;
}
.camera-header,.camera-status {
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.camera-controls {
    display: flex;
    align-items: center;
    gap: 4px;
}
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}
.status-indicator.online {
    background: green;
}

.loading-shimmer {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* The "Glass" effect */
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}