* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
    color: #fff;
    min-height: 100vh;
}


.container {
    padding: 1rem;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(756px, 1fr));
    gap: 1rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.camera-card {
    background: #2d2d2d;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.camera-card span,
.camera-card a {
    font-size: 1rem;
    color: #aaa;
    text-decoration: none;
}
.camera-header,
.camera-status {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000088;
    padding: .5rem;
    font-size: .8rem !important;
    text-align: center;
}

.camera-controls {
    display: flex;
    align-items: center;
    gap: 4px;
}

.camera-stream {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    background: #00000082;
    cursor: pointer;
    position: relative;
}

.stream-overlay {
    position: absolute;
    inset: 0;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}